a.social {
    --bg-img:"";
    background-image: var(--bg-img);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    -webkit-background-clip: initial;
    background-clip: initial;

    &[aria-label="TikTok"] {
        --bg-img: url(../assets/icons/tiktok.svg);

        &:hover {
            --bg-img: url(../assets/icons/tiktok-hover.svg);
        }
    }

     &[aria-label="instagram"] {
        --bg-img: url(../assets/icons/instagram.svg);

        &:hover {
            --bg-img: url(../assets/icons/instagram-hover.svg);
        }
    }

     &[aria-label="Discord"] {
        --bg-img: url(../assets/icons/discord.svg);

        &:hover {
            --bg-img: url(../assets/icons/discord-hover.svg);
        }
    }

     &[aria-label="Twiter"] {
        --bg-img: url(../assets/icons/twitter-x-fill.svg);

        &:hover {
            --bg-img: url(../assets/icons/Twitter-x-hover.svg);
        }
    }

}